.card-img-1, .card-img-2, .card-img-3, .card-img-4, .card-img-5, .card-img-6{
    box-shadow: 0 4px 8px 0 brown;
    transition: 0.3s;
    width: 80%;
    height: 30vh;
    padding-bottom: 50vh;
    text-align: center;
}

.cards{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: red;
}
   
.card-img-4, .card-img-5, .card-img-6{
    margin-top: 20px;
}
body{

    color: orange;
}
    .pazzi{
        background-color: black;
    }
    h1{
        text-align: center;
    }
    footer {
        background-color: rgb(61, 58, 56);
        color:white;
        height: 400px;
        position: relative;
        margin-top: 50px;
        
        }
        
        .footer-top {
          display: flex;
          height: 300px;
        }
        
        .footer-top h2 {
           flex: auto;
           margin-left:30px;
           text-align:center;
           margin-top:10px;
        }
        
        .footer-bottom {
          background-color: rgb(184, 178, 173);
          color:white;
          height:50px;
          text-align:center;
          position: relative;
          bottom: 0;
          left: 0;
          padding-top: 20px;
          width: 100%;
        }
        .text{
            color: black;
            text-align: center;
        }